div .App {
  margin: 0px 20vh 0px 20vh;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  background: transparent url("./lined_paper.png") top left repeat;
  box-shadow: 5px 5px 5px #111;
}

h1 {
  font-family: "AmaticSC-Regular";
  font-size: 40px;
}
@media screen and (min-width: 600px) and (max-width: 1500px) {
  div .App {
    margin: 0px 70px 0px 70px;
  }
}
@media screen and (max-width: 600px) {
  div .App {
    margin: 0px 5px 5px 5px;
  }
}
@media screen and (min-width: 1500px) {
  div .App {
    margin: 0px 30vh 0px 30vh;
  }
}
